testData/paperData.txt filter=lfs diff=lfs merge=lfs -text
testData/test10.txt filter=lfs diff=lfs merge=lfs -text
testData/test11.txt filter=lfs diff=lfs merge=lfs -text
testData/test12.txt filter=lfs diff=lfs merge=lfs -text
testData/test13.txt filter=lfs diff=lfs merge=lfs -text
testData/test14.txt filter=lfs diff=lfs merge=lfs -text
testData/test15.txt filter=lfs diff=lfs merge=lfs -text
testData/test16.txt filter=lfs diff=lfs merge=lfs -text
testData/test17.txt filter=lfs diff=lfs merge=lfs -text
testData/test18.txt filter=lfs diff=lfs merge=lfs -text
testData/test1.txt filter=lfs diff=lfs merge=lfs -text
testData/test2.txt filter=lfs diff=lfs merge=lfs -text
testData/test3.txt filter=lfs diff=lfs merge=lfs -text
testData/test4.txt filter=lfs diff=lfs merge=lfs -text
testData/test5.txt filter=lfs diff=lfs merge=lfs -text
testData/test6.txt filter=lfs diff=lfs merge=lfs -text
testData/test7.txt filter=lfs diff=lfs merge=lfs -text
testData/test8.txt filter=lfs diff=lfs merge=lfs -text
testData/test9.txt filter=lfs diff=lfs merge=lfs -text
